.bg-dark {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(73, 245, 233, 0.89) 48%, rgba(104, 192, 186, 0.78) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(7%, rgba(255, 255, 255, 0.98)), color-stop(48%, rgba(104, 192, 186, 0.89)), color-stop(100%, rgba(104, 192, 186, 0.78)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
    ;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
    ;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
    ;
}

@media (min-width:720px) and (max-width:1750px) {
    .marca {
        width: 151px;
        height: 61px;
        border-radius: 57%;
        margin-top: -8px;
    }
    .mat-toolbar-row {
        height: 65px;
    }
    .mat-card {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
        position: relative;
        padding: 15px;
        width: 100%;
        left: 32px;
        max-width: 33%;
        margin-top: 0px;
        border-radius: 0px;
        height: 54px;
        background-color: #FFFFFF !important;
    }
    .content {
        height: 30px;
    }
    .card1 {
        margin-top: 1px;
        width: 100%;
        max-width: 100%;
        left: 0;
        border-bottom-right-radius: calc(7.25px - 1px);
        border-bottom-left-radius: calc(7.25px - 1px);
    }
    .card2 {
        width: 100%;
        max-width: 100%;
        margin-top: 14px;
        left: 0px;
        top: 6px;
        border-top-left-radius: calc(10.25px - 1px);
        border-top-right-radius: calc(10.25px - 1px)
    }
    .card3 {
        width: 100%;
        max-width: 100%;
        left: 61px;
        margin-right: -12px;
        border-top-right-radius: calc(14.25px - 1px);
        border-bottom-right-radius: calc(14.25px - 1px);
    }
    .card5 {
        width: 100%;
        max-width: 100%;
        margin-top: 14px;
        left: 0px;
        margin-top: 1px;
        border-bottom-right-radius: calc(10.25px - 1px);
        border-bottom-left-radius: calc(10.25px - 1px);
    }
    .example-full-width {
        width: 100%;
        margin-top: -15px;
    }
    .expand {
        border-radius: 137px;
        height: 53px;
        margin-top: 1px;
    }
    .mat-form-field+.mat-form-field {
        margin-left: 8px;
    }
    .card4 {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
        display: none;
        width: 320px;
        height: 314px;
        left: 642px;
        max-width: 100%;
        margin: 1rem;
        height: 272px;
        background-color: #FFFFFF !important;
        border-radius: 23px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
    }
    .title {
        text-align: left;
        padding-left: 53px;
        margin-top: 144px;
        font-size: 20%;
    }
    .addhusp {
        font-size: 13px;
        font-weight: inherit;
        color: gray;
    }
    .example-card {
        max-width: 400px;
    }
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
    .mastercard {
        width: 100%;
    }
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        // box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
    .mat-expansion-panel {
        box-sizing: border-box;
        border-radius: 0px;
        margin-top: 7px;
    }
    .card-header {
        background-color: white;
        color: white;
    }
    .h2,
    h2 {
        font-size: 20px;
        text-align: center;
        height: -webkit-fill-available;
    }
    .btn.focus,
    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.25);
    }
    .btn {
        text-decoration: none;
        margin-top: -9%;
        width: 100%;
        font-size: 14px;
        max-width: 100%;
    }
    .example-button-row button,
    .example-button-row a {
        margin-right: 8px;
    }
    .resta {
        background-color: white;
        right: 7px;
        width: 35px;
        height: 35px;
    }
    .suma {
        background-color: white;
        left: 10px;
        width: 35px;
        height: 35px;
    }
    .caja {
        display: -webkit-inline-box;
        height: 41px;
        margin-left: -3px;
    }
    .adultos {
        padding-left: 2px;
        margin-top: 5px;
        font-size: 12px;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        margin-top: 24px;
        background-color: white;
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08) !important;
        border-bottom-right-radius: calc(7.25px - 1px);
        border-bottom-left-radius: calc(7.25px - 1px);
        margin-left: -15px;
        width: 100%;
        max-width: 285px;
    }
    .subtitle {
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 400 !important;
        color: rgb(113, 113, 113) !important;
        margin-top: -7px;
    }
    .circulos {
        margin-left: 24px;
        margin-top: 3px;
    }
    .circulos1 {
        margin-left: 48px;
        margin-top: 8px;
    }
    .mat-icon {
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        color: black;
        margin-top: -4px;
    }
    .font {
        font-size: smaller;
        font-weight: bolder;
    }
    .titul {
        font-size: smaller;
        font-weight: normal;
    }
    .titulo {
        font-size: smaller;
        font-weight: normal;
        height: 5px;
    }
    .titulo1 {
        font-size: smaller;
        font-weight: normal;
        height: 26px;
        margin-left: 60px;
    }
    .button1 {
        padding-left: 41px;
        margin-top: 27px;
    }
    .button2 {
        border-radius: 67px;
        width: 290px;
        padding-left: 40px;
        height: 46px;
        right: 55px;
    }
    .form-control {
        font-size: 13px;
        font-weight: inherit;
        color: gray;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 15px;
        line-height: 1.5;
        height: 21px;
        padding-left: 22px;
        background-color: #fff;
        background-clip: padding-box;
        border: 0px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}

@media (max-width:420px) {
    .marca {
        width: 81px;
        height: 40px;
        border-radius: 51%;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }
    .mat-toolbar-row {
        height: 40px;
    }
    .mat-toolbar-multiple-rows[_ngcontent-mbg-c119] {
        height: 40px;
    }
}

@media (max-width:420px) {
    .mat-toolbar-multiple-rows {
        min-height: 40px;
    }
    .mat-expansion-panel-header {
        margin-top: 10px;
        padding: 0px 47px;
        position: relative;
        height: 98px;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        display: flex;
        flex-grow: 1;
        margin-right: 0px;
    }
    .mat-expansion-indicator::after {
        border-style: solid;
        border-width: 0 2px 2px 0;
        content: "";
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        vertical-align: middle;
        margin-top: -20px;
    }
    .mat-app-background {
        background-color: white;
        color: rgba(0, 0, 0, 0.87);
    }
}

@media (min-width:200px) and (max-width:420px) {
    .card10 {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 17px;
        background-color: #FFFFFF !important;
        border-radius: 23px;
        -webkit-box-shadow: -1px 0px 17px 0px rgba(153, 119, 119, 0.75);

    .card4 {
        display:none;
         }
    }

    .fa-search:before {
        content: "\f002";
    
        font-size: 16px;
    }
    .subtitulo {
        font-size: 13px;
        font-weight: inherit;
        color: gray;
        padding-left: 75px;
    }
    .marca {
        width: 151px;
        height: 61px;
        border-radius: 57%;
        margin-top: -8px;
    }
    .mat-toolbar-row {
        height: 65px;
    }
    .content {
        height: 30px;
    }
    .card1 {
        margin-top: 1px;
        width: 100%;
        max-width: 100%;
        height: 77px;
        left: 0;
        border-bottom-right-radius: calc(7.25px - 1px);
        border-bottom-left-radius: calc(7.25px - 1px);
    }
    .card2 {
        width: 100%;
        max-width: 100%;
        margin-top: 14px;
        left: 0px;
        top: 29px;
        border-width: 0.3px;
        margin-top: 4px;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-width: 1px;
        border-style: solid;
        border-color: #d3c2c2;
    }
    .card3 {
        width: 100%;
        max-width: 100%;
        left: 61px;
        margin-right: -12px;
        border-top-right-radius: calc(14.25px - 1px);
        border-bottom-right-radius: calc(14.25px - 1px);
    }
    .card5 {
        width: 100%;
        margin-top: 0px;
        left: 0px;
        border-bottom-right-radius: calc(10.25px - 1px);
        border-bottom-left-radius: calc(10.25px - 1px);
        border-width: 1px;
        border-style: solid;
        border-color: #d3c2c2;
    }
    .example-full-width {
        width: 100%;
        margin-top: -15px;
    }
    .expand {
        border-radius: 137px;
        height: 53px;
        margin-top: 1px;
    }
    .mat-form-field+.mat-form-field {
        margin-left: 8px;
    }
    .title {
        text-align: left;
        padding-left: 53px;
        margin-top: 144px;
        font-size: 20%;
    }
    .addhusp {
        font-size: 13px;
        font-weight: inherit;
        color: gray;
        // padding-left: 75px;
    }
    .example-card {
        max-width: 400px;
    }
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
    .mastercard {
        width: 100%;
    }
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        // box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
    .mat-expansion-panel {
        box-sizing: border-box;
        border-radius: 0px;
        margin-top: 4px;
        border-width: 1px;
        border-style: solid;
     
        border-color: #d3c2c2;
    }
    .card-header {
        background-color: white;
        color: white;
    }
    .h2,
    h2 {
        font-size: 20px;
        text-align: center;
        /* background-color: beige; */
        /* margin: 0px; */
        height: -webkit-fill-available;
    }
    .btn.focus,
    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.25);
    }
    .btn {
        text-decoration: none;
        margin-top: -9%;
        width: 100%;
        font-size: 14px;
        max-width: 100%;
    }
    .example-button-row button,
    .example-button-row a {
        margin-right: 8px;
    }
    .resta {
        background-color: white;
        right: 7px;
        width: 35px;
        height: 35px;
    }
    .suma {
        background-color: white;
        left: 10px;
        width: 35px;
        height: 35px;
    }
    .caja {
        display: -webkit-inline-box;
        height: 41px;
        margin-left: -3px;
    }
    .adultos {
        padding-left: 2px;
        margin-top: 5px;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        margin-top: 24px;
        background-color: white;
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08) !important;
        border-bottom-right-radius: calc(7.25px - 1px);
        border-bottom-left-radius: calc(7.25px - 1px);
        margin-left: -15px;
        width: 100%;
        max-width: 285px;
    }
    .subtitle {
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 400 !important;
        color: rgb(113, 113, 113) !important;
        margin-top: -7px;
    }
    .circulos {
        margin-left: 24px;
        margin-top: 3px;
    }
    .circulos1 {
        margin-left: 48px;
        margin-top: 8px;
    }
    .mat-icon {
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        color: black;
        margin-top: -4px;
    }
    .font {
        font-size: smaller;
        font-weight: bolder;
    }
    .titul {
        font-size: smaller;
        font-weight: normal;
    }
    .titulo {
        font-size: smaller;
        font-weight: normal;
        height: 5px;
        padding-right: 26px;
    }
    .titulo1 {
        font-size: 16px;
        font-weight: 400;
        width: 173px;
        margin-top: 21px;
    }
    .button1 {
        padding-left: 0px;
        margin-top: 6px;
    }
    .button2 {
        border-radius: 67px;
        width: inherit;
        height: 46px;
    }
    .form-control {
        font-size: 13px;
        font-weight: inherit;
        color: gray;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 15px;
        line-height: 1.5;
        height: 21px;
        padding-left: 33px;
        background-color: #fff;
        background-clip: padding-box;
        border: 0px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}
